.input-container {
  padding: 8px;
  border-radius: 8px;
  margin: 16px 16px 12px 16px;
  border: 1px solid #efefef;
  display: flex;
  font-size: 14px;
  align-items: center;
  padding-right: 16px;
}

.input-container input {
  flex: 1;
  outline: none;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  min-height: 21px;
}

.input-container input ::placeholder {
  color: rgba(186, 188, 197, 1);
}
